{% extends "sub/main_column.html" %}
{% load staticfiles %}
{% block title %} Empresa {% endblock %}
{% block left_column_content %}
    {% include "sub/left-panel-user-profile.html" %}
{% endblock %}

{% block right_column_content %}
    <div class="row">
        <div class="col-xs-12 col-md-12 text-center">
            <h2>Perfil de Empresa</h2>
            <div class="col-md-4 col-xs-12 text-center">
                <div class="text-big text-highlight">BehaviourCL</div>
                <div><img class="company-logo" src="{% static 'resources/company/logo-company.png' %}"></div>
            </div>
            <div class="col-md-8 col-xs-12">
                <div class="badge badge-lightred">
                    <div>Publicaciones</div>
                    <div class="text-big">3</div>
                </div>
                <div class="badge badge-yellow" title="4.2">
                    <div>Valoración</div>
                    <div class="text-big">
                        <span>4.2</span>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div>
        <div class="title">Descripción</div>
        {# Interesst profile #}
        <p>Lorem ipsum dolor sit amet, porttitor metus scelerisque, nullam hymenaeos, justo in lobortis. Consectetur proin, placerat scelerisque. Pellentesque tincidunt convallis, quis ornare, at dolor. Aenean ultrices, blandit mattis, amet ut nec. Mattis aliquam. At in. Morbi ac orci, sit semper. Lacinia arcu.</p>
    </div>
    <hr>
    <div class="row text-center text-uppercase">
        <div class="col-md-4 col-xs-12">
            <div>Encargado</div>
            <div class="text-highlight text-big">Ricardo Ruiz</div>
        </div>
        <div class="col-md-4 col-xs-12">
            <div>Correo electrónico</div>
            <div class="text-highlight text-big">rruiz@company.cl</div>
        </div>
        <div class="col-md-4 col-xs-12">
            <div>Teléfono</div>
            <div class="text-highlight text-big">2 111 1111</div>
        </div>
    </div>
    <hr>
    <h3>Comentarios y valoraciones</h3>
    {% include "sub/company-comments.html" %}
{% endblock %}