{% extends "sub/main_column.html" %}
{% load staticfiles %}
{% block title %} Perfil de {{ empresa.nombre }} {% endblock %}
{% block left_column_content %}
    {% if not user.empresa %}
            {% include "sub/left-panel-user-profile.html" %}
        {% else %}
            {% include "sub/left-panel-company-menu.html" %}
    {% endif %}
{% endblock %}

{% block right_column_content %}
    <div class="row">
        <div class="col-xs-12 col-md-12 text-center">
            <h2>Perfil de Empresa</h2>
            <div class="col-md-4 col-xs-12 text-center">
                <div class="text-big text-highlight">{{ empresa.nombre }}</div>
                <div>
                    <img class="company-logo"
                         src="{% if empresa.logo %}
                            {{ empresa.logo }}
                         {% else %}
                            {% static "resources/company/default-logo-company.png" %}
                         {% endif %}">
                </div>
            </div>
            <div class="col-md-8 col-xs-12">
                <div class="badge badge-lightred">
                    <div>Publicaciones</div>
                    <div class="text-big">{{ empresa.oferta_set.count }}</div>
                </div>
                <div class="badge badge-yellow" title="{{ empresa.puntaje }}">
                    <div>Valoración</div>
                    <div class="text-big star-val" data-score={{ empresa.puntaje }}>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div>
        <h3>
            Descripción
            <button type="button" class="m-btn-medium m-btn-blue">Editar perfil</button>
        </h3>
        {# Interesst profile #}
        {% if empresa.validada %}
            <p>{{ empresa.descripcion|default_if_none:"Sin descripción." }}</p>
        {% else %}
            <p>Esta empresa aún no ha sido verificada.</p>
        {% endif %}

    </div>
    <hr>
    {% if encargado %}
        <div class="row text-center text-uppercase">
            <div class="col-md-4 col-xs-12">
                <div>Encargado administrador</div>
                <div class="text-highlight text-big">{{ encargado.first_name }}</div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div>Correo electrónico</div>
                <div class="text-highlight text-big">{{ encargado.email }}</div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div>Teléfono</div>
                <div class="text-highlight text-big">{{ encargado.telefono }}</div>
            </div>
        </div>
    {% endif %}
    <hr>
    <div>
        <h3>Ofertas</h3>
        <ul>
        {% for offer in empresa.oferta_set.all %}
            <li class="vertical-margin">
            <div class="badge">
                <div class="text-big">
                    {{ offer.tipo }}
                </div>
            </div>
            <a href="{% url "oferta" offer_id=offer.id %}">{{ offer.titulo }}</a>
            </li>
        {% empty %}
            <p>Esta empresa no ha publicado ninguna oferta.</p>
        {% endfor %}
        </ul>
    </div>
    <hr>
    {% if "normal" in roles %}
        <h3>Comentarios y valoraciones</h3>
        {% include "sub/company-comments.html" %}
    {% endif %}
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        //colores e iconos en la parte de validar para practica
        var valid_icons = $('.valid-class');
        for (var i = 0; i < valid_icons.length; i++) {
            var valid_icon = $(valid_icons[i]);
            var icon;
            if (valid_icon.data('valid') === 'Aprobada') {
                icon = "glyphicon glyphicon-ok-sign text-big valid-class";
            } else if (valid_icon.data('valid') === 'No Aprobada') {
                icon = "glyphicon glyphicon-remove-sign text-big valid-class";
                valid_icon.parent().attr('class', 'badge badge-red')
            } else {
                icon = "glyphicon glyphicon-question-sign text-big valid-class";
                valid_icon.parent().attr('class', 'badge badge-orange')
            }
            valid_icon.attr('class', icon);
        }
    </script>
    <script type="text/javascript">
        //para el llenado de las estrellas
        var star_vals = $('.star-val');
        for (var i = 0; i < star_vals.length; i++) {
            var star_val = $(star_vals[i]);
            var offer_score = star_val.data('score');
            //star_val.append($('<span/>', {text: offer_score/20}));
            for (var score = 20; score <= 100; score+=20) {
                if (offer_score >= score)
                    star_val.append($('<span/>', {
                        'class': 'glyphicon glyphicon-star',
                        'aria-hidden': 'true'
                    }));
                else
                    star_val.append($('<span/>', {
                        'class': 'glyphicon glyphicon-star-empty',
                        'aria-hidden': 'true'
                    }));
            }
        }
    </script>
    <script type="text/javascript">
        var commentButton = $('#comment_button');
        commentButton.prop('disabled', true);
        $('#valoration').on('rating.change', function() {
            commentButton.removeClass('disabled')
            commentButton.removeAttr('disabled');
        });
        $('#user-valoration').find('input').on('rating.change', function(){
            $('#user-valoration-input').val($(this).val());
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#edit-comment-btn').click(function () {
                var val = $('#user-valoration');
                val.parent().find('.badge').addClass('hidden');
                val.removeClass('hidden');
                $('#user-textarea').removeClass('hidden');
                $('#user-comment').addClass('hidden');
                $('#update-comment-btn').removeClass('hidden');
                $('#cancel-edit-btn').removeClass('hidden');
                $('#user-importance').removeClass('hidden');
                $(this).addClass('hidden');
            });

            $('#cancel-edit-btn').click(function () {
                var val = $('#user-valoration');
                val.parent().find('.badge').removeClass('hidden');
                val.addClass('hidden');
                $('#user-textarea').addClass('hidden');
                $('#user-comment').removeClass('hidden');
                $('#update-comment-btn').addClass('hidden');
                $('#edit-comment-btn').removeClass('hidden');
                $('#user-importance').addClass('hidden');
                $(this).addClass('hidden');
            });
        });
    </script>
{% endblock %}