{% extends "sub/main.html" %}
{% load staticfiles %}
{% block title %}
    Cuenta pendiente
{% endblock %}
{% block content %}
    <div class="background height100">
            <div class="height100"></div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12 m-b-5">
            <a href="{{ MAIN_URL }}"><div class="logo"></div></a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="frame">
                <div class="title text-center">Solicitud de registro enviada</div>
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <p>
                            Debes esperar a que tu cuenta de empresa sea activada antes de poder ingresar con ella.
                            Serás redireccionado en 5 segundos...
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
<script type="text/javascript">
setTimeout(function() {
    window.location = "{% url "registro_empresas" %}";
}, 5000)
</script>
{% endblock %}
