{% extends "sub/main_column.html" %}
{% load staticfiles %}
{% load filtros %}

{% block javascript %}
    <script type="text/javascript">

        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });

        $('.link-empresa').on('click', function(event){
            event.preventDefault();
        })

        $('.select-rem').on('change', function(event){
            event.preventDefault();
            var value = $(this).val();
            var elem = document.getElementById("div_sueldo");
            if (value === 'Por Determinar' || value === 'Sin Remuneración'){
                elem.style.display = "none";
            }
            else {
                elem.style.display = "block";
            }
        })



        function toggle_visibility(id) {
           var empresa = document.getElementById("div_empresa");
           var nueva_empresa = document.getElementById("div_nueva_empresa");

           if (id === "new"){
               empresa.style.display = "none";
               nueva_empresa.style.display = "block";
           }
           else if (id === "old") {
               empresa.style.display = "block";
               nueva_empresa.style.display = "none";
           }
        }
        $('#ingreso_empresa').on('click', function (event) {
            window.location = "{% url "registro_empresas" %}"
        })
    </script>
{% endblock %}

{% block title %} Formulario Empresa {% endblock %}

{% block left_column_content %}
    {% if user.is_authenticated %}
        {% if not user.empresa %}
            {% include "sub/left-panel-user-profile.html" %}
        {% else %}
            {% include "sub/left-panel-company-menu.html" %}
        {% endif %}
    {% else %}
        {% include "sub/left-panel-company-login.html" %}
    {% endif %}
    <hr>
{% endblock %}

{% block right_column_content %}
    <h2 class="text-center">
        Publicar una oferta
    </h2><br>
    <ul>
        {% for error in form.non_field_errors %}
            {{ error|escape }}
        {% endfor %}
    </ul>
    <form action="" method ="post">
        {% csrf_token %}
        {% for field in form %}
            {% if field == form.empresa %}
                <div id="div_empresa">
                    {% if field.errors %}
                        <ul>
                            {% for error in field.errors %}
                              <li class="error">{{ error|escape }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% if user.empresa %}
                        <label class="" for="{{ field.id_for_label }}">Empresa </label> {{ user.empresa }}
                    {% else %}
                        {% if field.errors %}
                            <ul>
                                {% for error in field.errors %}
                                  <li class="error">{{ error|escape }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        <label class="" for="{{ field.id_for_label }}">
                            {{ field.label }}
                            {% if field.help_text %}
                                <span style="color:#FF841F; font-size:14pt" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="{{ field.help_text|safe }}"></span>
                            {% endif %}
                        </label>
                        <a href="#" class="link-empresa" onclick="toggle_visibility('new');">¿La empresa no aparece en el listado?</a>
                        <br>{{ field|addClass:'form-control' }}<br>
                    {% endif %}
                </div>
            {% elif field == form.nombre_empresa %}
                <div id="div_nueva_empresa" style="display: none">
                    {% if field.errors %}
                        <ul>
                            {% for error in field.errors %}
                              <li class="error">{{ error|escape }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <label class="" for="{{ field.id_for_label }}">
                        {{ field.label }}
                        {% if field.help_text %}
                            <span style="color:#FF841F; font-size:14pt" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="{{ field.help_text|safe }}"></span>
                        {% endif %}
                    </label>
                    <a href="#" class="link-empresa" onclick="toggle_visibility('old');">Seleccionar una empresa existente</a>
                    {% if user.empresa %}
                        <input class="form-control" id="id_{{ field.html_name }}" name="{{ field.html_name }}" type="hidden" value="{{ user.empresa }}"/>
                    {% else %}
                        <br>{{ field|addClass:'form-control' }}<br>
                    {% endif %}
                </div>
            {% else %}
                {% if field == form.tipo %}
                    <br><h3>Datos de la Oferta</h3><hr>
                {% elif field == form.jornada %}
                    <br><h3>Jornada Laboral</h3><hr>
                {% elif field == form.remunerado %}
                    <br><h3>Remuneración</h3><hr>
                {% elif field == form.fecha_comienzo %}
                    <br><h3>Duración y Plazos de Postulación</h3><hr>
                {% elif field == form.direccion %}
                    <br><h3>Ubicación</h3><hr>
                {% elif field == form.nombre_encargado %}
                    <br><h3>Contacto</h3><hr>
                {% endif %}
                {% if field == form.sueldo_minimo %}
                    <div id="div_sueldo" class="form-group">
                {% else %}
                    <div class="form-group">
                {% endif %}
                    {% if field.errors %}
                        <ul>
                            {% for error in field.errors %}
                              <li class="error">{{ error|escape }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% if field != form.notificar %}
                        <label class="" for="{{ field.id_for_label }}">
                            {{ field.label }}
                            {% if field.help_text %}
                                <span style="color:#FF841F; font-size:14pt" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="{{ field.help_text|safe }}"></span>
                            {% endif %}
                        </label>

                        {% if field == form.fecha_comienzo or field == form.fecha_termino %}
                            {{ field }}
                        {% elif field == form.jornada or field == form.tipo %}
                            {% for option in field %}
                                {{ option }}
                            {% endfor %}
                        {% elif field == form.remunerado %}
                            <br>{{ field|addClass:'form-control select-rem' }}
                        {% else %}
                            <br>{{ field|addClass:'form-control' }}
                        {% endif %}
                    {% else %}
                        {{ field }}
                        <label class="" for="{{ field.id_for_label }}">
                            {{ field.label }}
                            {% if field.help_text %}
                                <span style="color:#FF841F; font-size:14pt" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="{{ field.help_text|safe }}"></span>
                            {% endif %}
                        </label>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
        <input type="submit" value="Enviar"/>
    </form>
{% endblock %}
