{% extends "sub/main.html" %}
{% load staticfiles %}
{% block content %}
    <div class="background height100">
            <div class="height100"></div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12 m-b-5">
            <a href="{{ MAIN_URL }}"><div class="logo"></div></a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <div class="frame">
                <div class="title text-center">Publicar ofertas</div>
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 col-xs-12">

                        <div><a href="{% url 'formulario' %}"><button type="submit" class="m-btn-full m-btn-darkcyan">Publicar</button></a></div>
                        <div><a href="{% url 'registro_empresas' %}"><button type="button" class="m-btn-full m-btn-cyan">Empresas Verificadas</button></a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xs-12">
            <div class="frame">
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <div class="title text-center">Ingreso al sistema</div>
                    </div>
                    {% if error_login %}
                         <label class="error">{{ error_login|escape }}</label>
                    {% endif %}
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 col-xs-12">
                <form role="form" action = "{% url 'login_user' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="sr-only" for="username">
                            Usuario/Correo
                        </label>
                        <input class="form-control" id="username" name="username" placeholder="Usuario"/>
                    </div>
                    <div class="form-group">

                        <label class="sr-only" for="password">
                            Password
                        </label>
                        <input class="form-control" id="password" name="password" type="password" placeholder="Contraseña" />
                    </div>
                    <div>
                        <label class="checkbox-inline">
                            <input name="remember_me" type="checkbox" value="on"/> Recuérdame
                        </label>
                        <div class="pull-right"><a href="{% url "registro" %}">No tengo U-Pasaporte ni cuenta</a></div>
                    </div>
                    <button type="submit" class="m-btn m-btn-darkcyan">
                        Ingresar
                    </button>
                </form>
            </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
