{% extends "sub/main.html" %}
{% load staticfiles %}
{% block content %}
    <div class="background height100">
            <div class="height100"></div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12 m-b-5">
            <a href="{{ MAIN_URL }}"><div class="logo"></div></a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <div class="frame">
                <div class="title text-center">Publicar ofertas</div>
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 col-xs-12">
                        <form role="form" action="{% url 'formulario' %}" method="GET">
                            <div><button type="submit" class="m-btn-full m-btn-darkcyan">Publicar</button></div>
                        </form>
                        <div><button type="button" class="m-btn-full m-btn-cyan">Empresas Verificadas</button></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xs-12">
            <div class="frame">
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <div class="title text-center">Ingresar con U-Pasaportes</div>
                    </div>
                    {% if error_login %}
                         <label for="password" class="error">{{ error_login|escape }}</label>
                    {% endif %}
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 col-xs-12">
                <form role="form" action = "{% url 'login_user' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="sr-only" for="username">
                            Usuario/Correo
                        </label>
                        <input class="form-control" id="username" name="username" placeholder="Usuario"/>
                    </div>
                    <div class="form-group">

                        <label class="sr-only" for="password">
                            Password
                        </label>
                        <input class="form-control" id="password" name="password" type="password" placeholder="Contraseña" />
                    </div>
                    <div>
                            <label class="checkbox-inline">
                                <input type="checkbox" /> Recordarme
                            </label>
                        <div class="pull-right"><a href="{% url 'registro' %}">No poseo U-Pasaporte</a></div>
                    </div>
                    <button type="submit" class="m-btn m-btn-darkcyan">
                        Ingresar
                    </button>
                </form>
            </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
