{% extends "sub/main_column.html" %}
{% load staticfiles %}
{% block title %} Listado de ofertas {% endblock %}
{% block left_column_content %}
    {% include "sub/left-panel-user-profile.html" %}
    <hr>
    {% include "sub/filters.html" %}
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-slider.min.css" %}">
{% endblock %}

{% block javascript %}
    <script src="{% static "js/bootstrap-slider.min.js" %}"></script>
    <script>
        function CLPFormatter(price){
            price = price + "";
            var clp="";
            var c = 1;
            for(var i=price.length -1; i >= 0; i--){
                clp = price[i]+clp;
                if(c%3==0 && c!=(price.length)){
                    clp = '.'+clp;
                }
                c++;
            }
            return '$'+clp;
        }
        // Price Slider
        if ($('.price-slider').length > 0) {
            $('.price-slider').slider({
                min: 0,
                max: 3000000,
                step: 50000,
                value: parseInt({% if min_salary %}{{ min_salary }}{% else %}0{% endif %}),
                tooltip: "hide",
                handle: "round",
                labelledby: 'min-price',
                //scale: 'logarithmic',
                formatter: function (value) {
                    return 'Current value: ' + value;
                }

            }).on('slide', function (slideEvt) {
                $('.price-filter #min-price').val(slideEvt.value);
                $('.price-filter #min-price').change();
            });
        }
    </script>
    <script>
        $('.price-slider').change(function(){
            console.log($(this).val());
        });
        $('#min-price-label').text(CLPFormatter($('#min-price').val()));
        $('#min-price').change(function(){
            $('#min-price-label').text(CLPFormatter($(this).val()));
        });
        $('#max-price').change(function(){
            $('#max-price-label').text(CLPFormatter($(this).val()));
        });
    </script>

    <script type="text/javascript">
        //colores e iconos en la parte de validar para practica
        var valid_icons = $('.valid-class');
        for (var i = 0; i < valid_icons.length; i++) {
            var valid_icon = $(valid_icons[i]);
            var icon;
            if (valid_icon.data('valid') === 'Aprobada') {
                icon = "glyphicon glyphicon-ok-sign text-big valid-class";
            } else if (valid_icon.data('valid') === 'No Aprobada') {
                icon = "glyphicon glyphicon-remove-sign text-big valid-class";
                valid_icon.parent().attr('class', 'badge badge-red')
            } else {
                icon = "glyphicon glyphicon-question-sign text-big valid-class";
                valid_icon.parent().attr('class', 'badge badge-orange')
            }
            valid_icon.attr('class', icon);
        }
    </script>
    <script type="text/javascript">
        //para el llenado de las estrellas
        var star_vals = $('.star-val');
        for (var i = 0; i < star_vals.length; i++) {
            var star_val = $(star_vals[i]);
            var offer_score = star_val.data('score');
            for (var score = 20; score <= 100; score+=20) {
                if (offer_score >= score)
                    star_val.append($('<span/>', {
                        'class': 'glyphicon glyphicon-star',
                        'aria-hidden': 'true'
                    }));
                else
                    star_val.append($('<span/>', {
                        'class': 'glyphicon glyphicon-star-empty',
                        'aria-hidden': 'true'
                    }));
            }
        }
        function evaluateOffer(offer_id, accept) {
            //aqui hay que poner algo para que se vea como carga el sistema, su modal loco
            $.post('/evaluar-oferta',{
                'offer_id': offer_id,
                'accept': accept,
                'csrfmiddlewaretoken': document.getElementsByName('csrfmiddlewaretoken')[0].value
            }).fail(function(err) {
                console.log(err)
            }).done(function(msg) {
                $('#oferta_' + offer_id).css('display', 'None');
                console.log(msg);
            })
        }
        function evaluatePractice(offer_id, valid) {
            //aqui hay que poner algo para que se vea como carga el sistema, su modal loco
            $.post('/evaluar-practica',{
                'offer_id': offer_id,
                'valid': valid,
                'csrfmiddlewaretoken': document.getElementsByName('csrfmiddlewaretoken')[0].value
            }).fail(function(err) {
                console.log(err)
            }).done(function(msg) {
                $('#oferta_' + offer_id).css('display', 'None');
                console.log(msg);
            })
        }
    </script>
    <script type="text/javascript">
        function updateDataIconFollow(id) {
            var iconFollow = $('#follow_icon_' + id);
            if (iconFollow.data('follow') === 'True')
                iconFollow.data('follow', 'False');
            else iconFollow.data('follow', 'True');
        }
        function updateIconFollow(id) {
            var iconFollow = $('#follow_icon_' + id);
            if (iconFollow.data('follow') === 'True')
                iconFollow.attr('class', "glyphicon glyphicon-heart");
            else iconFollow.attr('class', "glyphicon glyphicon-heart-empty")
        }
        function followOffer(offer_id) {
            //aqui hay que poner algo para que se vea como carga el sistema, su modal loco
            var actual_state = $('#follow_icon_' + offer_id).data('follow');
            $.post('/seguir-oferta',{
                'offer_id': offer_id,
                'actual_state': actual_state,
                'csrfmiddlewaretoken': document.getElementsByName('csrfmiddlewaretoken')[0].value
            }).fail(function(err) {
                console.log(err)
            }).done(function(msg) {
                updateDataIconFollow(offer_id);
                updateIconFollow(offer_id);
                console.log(msg);
            })
        }
    </script>
    <script type="text/javascript">
        var nWarnings = parseInt({{ user.getCommentsWithWarning|length }});
        if (nWarnings > 0){
            noty({
                text: 'Tienes ' + nWarnings + ' advertencia(s)',
                layout: 'topRight',
                type: 'information',
                timeout: 5000
            });
        }

    </script>
{% endblock %}

{% block right_column_content %}
    {% if marcadores %}
        <h1>Mis marcadores</h1>
    {% else %}
        <div>
            <form action="{% url 'busqueda' %}" method="GET" role="search">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Buscar ofertas">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                    </span>
                </div>
            </form>
        </div>
        {% if busqueda %}
            <h1>Resultados de la búsqueda: {{ query }}</h1>
        {% else %}
            <h1>Todas las ofertas</h1>
        {% endif %}
    {% endif %}
    {% csrf_token %}
    <div class="tabbable" id="tabs-813395">
        {% if 'publicador' in roles and not marcadores and not busqueda %}
            <h3>Para ver las nuevas ofertas aceptadas en las otras pestañas debes actualizar la página</h3>
        {% endif %}
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#panel-804185" data-toggle="tab">Prácticas</a>
            </li>
            <li>
                <a href="#panel-289390" data-toggle="tab">Memorias</a>
            </li>
            <li>
                <a href="#panel-289391" data-toggle="tab">Trabajos</a>
            </li>
            {% if not marcadores %}
                {% if 'publicador' in roles %}
                    <li>
                        <a href="#panel-289392" data-toggle="tab">Ofertas recibidas</a>
                    </li>
                {% endif %}
                {% if 'validador' in roles %}
                    <li>
                        <a href="#panel-289393" data-toggle="tab">Prácticas por revisar</a>
                    </li>
                {% endif %}
            {% endif %}
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="panel-804185">
                {% for offer in practices %}
                    {% include "app/offer_list_object.html" %}
                    {% empty %}
                        Aún no hay ofertas de Práctica.
                {% endfor %}
            </div>
            <div class="tab-pane" id="panel-289390">
                {% for offer in reports %}
                    {% include "app/offer_list_object.html" %}
                    {% empty %}
                        Aún no hay ofertas de Memoria.
                {% endfor %}
            </div>
            <div class="tab-pane" id="panel-289391">
                {% for offer in jobs %}
                    {% include "app/offer_list_object.html" %}
                    {% empty %}
                        Aún no hay ofertas de Trabajo.
                {% endfor %}
            </div>
            {% if not marcadores %}
                {% if 'publicador' in roles %}
                <div class="tab-pane" id="panel-289392">
                    {% for offer in offers_to_check %}
                        {% include "app/offer_list_acept_offer.html" %}
                        {% empty %}
                            Todas las ofertas han sido revisadas.
                    {% endfor %}
                </div>
                {% endif %}
                {% if 'validador' in roles %}
                <div class="tab-pane" id="panel-289393">
                    {% for offer in practices_to_check %}
                        {% include "app/offer_list_valid_prac.html" %}
                        {% empty %}
                            Todas las prácticas han sido revisadas.
                    {% endfor %}
                </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}
