{% extends "sub/main_column.html" %}
{% load staticfiles %}
{% block title %} Oferta {% endblock %}
{% block left_column_content %}
    {% if not user.empresa %}
            {% include "sub/left-panel-user-profile.html" %}
        {% else %}
            {% include "sub/left-panel-company-menu.html" %}
    {% endif %}
{% endblock %}

{% block right_column_content %}
    {% csrf_token %}
    <h2 class="text-center">
        {{ oferta.titulo }}
        <button class="btn btn-info btn-lg" onclick="followOffer({{ oferta.id }})">
            <span id="follow_icon" data-follow="{{ isFollowed }}" class="center-block glyphicon glyphicon-heart-empty"></span>
        </button>
    </h2>
    <hr>
    <div class="row text-center text-uppercase">
        <div class="col-md-4 col-xs-12">
            <img class="company-logo"
                 src="{% if empresa.logo %}
                    {{ empresa.logo }}
                 {% else %}
                    {% static "resources/company/default-logo-company.png" %}
                 {% endif %}">
        </div>
        <div class="col-md-4 col-xs-12">
            <div>Empresa</div>
            <div class="text-highlight text-big">
                <a href="{% url "empresa" id_empresa=oferta.empresa.id %}">
                    {{ oferta.empresa }}
                </a>
            </div>
        </div>
        <div class="col-md-4 col-xs-12">
            <div>Jornada</div>
            <div class="text-highlight text-big">{{ oferta.jornada }}</div>
        </div>
        <div class="col-md-4 col-xs-12">
            <div>Tipo de oferta</div>
            <div class="text-highlight text-big">{{ oferta.tipo }}</div>
        </div>
    </div>
    <hr>
    <div>
        <div>
            <div class="badge">
                <div>Sueldo base</div>
                <div class="text-big">{{ oferta.formatted_salary }}</div>
            </div>
            <div class="badge">
                <div>Comuna</div>
                <div class="text-big">{{ oferta.comuna }}</div>
            </div>
            {% ifequal 'Práctica' oferta.tipo %}
                <div class="badge">
                    <div>{{ validez }}</div>
                    <span data-valid="{{ validez }}" class="valid-class" aria-hidden="true"></span>
                </div>
            {% endifequal %}
            <div class="pull-right badge" title="{{ oferta.puntuacion }}">
                <div>Valoración</div>
                <div class="text-big star-val" data-score={{ oferta.puntuacion }}>
                </div>
            </div>
        </div>
        {# Interesst profile #}
        <p>{{ oferta.descripcion }}</p>
        <dl class="dl-horizontal">
            <dt>Experiencia previa</dt>
            <dd>{{ oferta.requiere_experiencia }}</dd>
            <dt>Habilidades deseadas</dt>
            <dd>{{ oferta.habilidades_deseadas }}</dd>
            <dt>Habilidades requeridas</dt>
            <dd>{{ oferta.habilidades_requeridas }}</dd>
            <dt>Se ofrece</dt>
            <dd>{{ oferta.se_ofrece }}</dd>
            <dt>Duración mínima</dt>
            <dd>{{ oferta.duracion_minima }} meses</dd>
            <dt>Comentario duración</dt>
            <dd>{{ oferta.comentario_duracion }}</dd>
            <dt>Fecha postulación</dt>
            <dd>Desde <b>{{ oferta.fecha_comienzo }}</b> hasta <b>{{ oferta.fecha_termino }}</b></dd>
            <dt>Hora ingreso</dt>
            <dd>{{ oferta.hora_ingreso }}</dd>
            <dt>Hora salida</dt>
            <dd>{{ oferta.hora_salida}}</dd>
            <dt>Comentario jornada</dt>
            <dd>{{ oferta.comentario_jornada }}</dd>
            <dt>Comentarios remuneración</dt>
            <dd>{{ oferta.comentario_sueldo }}</dd>
            <dt>Fecha de publicación</dt>
            <dd>{{ oferta.fecha_publicacion }}</dd>
            <dt>Región</dt>
            <dd>{{ oferta.comuna.region }}</dd>
            <dt>Dirección</dt>
            <dd>{{ oferta.direccion }}</dd>
            <dt>Etiquetas</dt>
            <dd>
                {% for etiqueta in oferta.etiquetas.all %}
                    <span class="label label-info">{{ etiqueta }}</span>
                {% empty %}
                    Esta oferta no posee etiquetas
                {% endfor %}
            </dd>
        </dl>
    </div>
    <hr>
    <div class="row text-center text-uppercase">
        <div class="col-md-4 col-xs-12">
            <div>Encargado</div>
            <div class="text-highlight text-big">{{ oferta.nombre_encargado }}</div>
        </div>
        <div class="col-md-4 col-xs-12">
            <div>Correo electrónico</div>
            <div class="text-highlight text-big">{{ oferta.email_encargado }}</div>
        </div>
        <div class="col-md-4 col-xs-12">
            <div>Teléfono</div>
            <div class="text-highlight text-big">{{ oferta.telefono_encargado }}</div>
        </div>
    </div>
    <hr>
    {% if "normal" in roles %}
        <h3>Comentarios y valoraciones</h3>
        {% include "sub/offer-comments.html" %}
    {% endif %}
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        //colores e iconos en la parte de validar para practica
        var valid_icons = $('.valid-class');
        for (var i = 0; i < valid_icons.length; i++) {
            var valid_icon = $(valid_icons[i]);
            var icon;
            if (valid_icon.data('valid') === 'Aprobada') {
                icon = "glyphicon glyphicon-ok-sign text-big valid-class";
            } else if (valid_icon.data('valid') === 'No Aprobada') {
                icon = "glyphicon glyphicon-remove-sign text-big valid-class";
                valid_icon.parent().attr('class', 'badge badge-red')
            } else {
                icon = "glyphicon glyphicon-question-sign text-big valid-class";
                valid_icon.parent().attr('class', 'badge badge-orange')
            }
            valid_icon.attr('class', icon);
        }
    </script>
    <script type="text/javascript">
        //para el llenado de las estrellas
        var star_vals = $('.star-val');
        for (var i = 0; i < star_vals.length; i++) {
            var star_val = $(star_vals[i]);
            var offer_score = star_val.data('score');
            //star_val.append($('<span/>', {text: offer_score/20}));
            for (var score = 20; score <= 100; score+=20) {
                if (offer_score >= score)
                    star_val.append($('<span/>', {
                        'class': 'glyphicon glyphicon-star',
                        'aria-hidden': 'true'
                    }));
                else
                    star_val.append($('<span/>', {
                        'class': 'glyphicon glyphicon-star-empty',
                        'aria-hidden': 'true'
                    }));
            }
        }
    </script>
    <script type="text/javascript">
        var commentButton = $('#comment_button');
        commentButton.prop('disabled', true);
        $('#valoration').on('rating.change', function() {
            commentButton.removeClass('disabled');
            commentButton.removeAttr('disabled');
        });
        $('#user-valoration').find('input').on('rating.change', function(){
            $('#user-valoration-input').val($(this).val());
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#edit-comment-btn').click(function () {
                var val = $('#user-valoration');
                val.parent().find('.badge').addClass('hidden');
                val.removeClass('hidden');
                $('#user-textarea').removeClass('hidden');
                $('#user-comment').addClass('hidden');
                $('#update-comment-btn').removeClass('hidden');
                $('#cancel-edit-btn').removeClass('hidden');
                $('#user-importance').removeClass('hidden');
                $(this).addClass('hidden');
            });

            $('#cancel-edit-btn').click(function () {
                var val = $('#user-valoration');
                val.parent().find('.badge').removeClass('hidden');
                val.addClass('hidden');
                $('#user-textarea').addClass('hidden');
                $('#user-comment').removeClass('hidden');
                $('#update-comment-btn').addClass('hidden');
                $('#edit-comment-btn').removeClass('hidden');
                $('#user-importance').addClass('hidden');
                $(this).addClass('hidden');
            });
        });
    </script>
    <script type="text/javascript">
        function updateDataIconFollow() {
            var iconFollow = $('#follow_icon');
            if (iconFollow.data('follow') === 'True')
                iconFollow.data('follow', 'False');
            else iconFollow.data('follow', 'True');
        }
        function updateIconFollow() {
            var iconFollow = $('#follow_icon');
            if (iconFollow.data('follow') === 'True')
                iconFollow.attr('class', "center-block glyphicon glyphicon-heart");
            else iconFollow.attr('class', "center-block glyphicon glyphicon-heart-empty")
        }
        function followOffer(offer_id) {
            //aqui hay que poner algo para que se vea como carga el sistema, su modal loco
            var actual_state = $('#follow_icon').data('follow');
            $.post('/seguir-oferta',{
                'offer_id': offer_id,
                'actual_state': actual_state,
                'csrfmiddlewaretoken': document.getElementsByName('csrfmiddlewaretoken')[0].value
            }).fail(function(err) {
                console.log(err)
            }).done(function(msg) {
                updateDataIconFollow();
                updateIconFollow();
                console.log(msg);
            })
        }
        updateIconFollow();
    </script>
    <script type="text/javascript">
        function desactivateButton(comment_id) {
            var button = $('#comment_button_id_' + comment_id);
            $(button.children()).text('Reportado');
            button.prop('disabled', true);
            button.addClass('btn disabled');
        }
        function reportComment(comment_id, type) {
            $.post('/reportar-comentario',{
                'comment_id': comment_id,
                'type': type,
                'csrfmiddlewaretoken': document.getElementsByName('csrfmiddlewaretoken')[0].value
            }).fail(function(err) {
                console.log(err)
            }).done(function(msg) {
                if (msg.msg === 'ok') {
                    desactivateButton(comment_id);
                    console.log('reporte exitoso');
                } else {
                    desactivateButton(comment_id);
                    console.log('Ya se reporto por este usuario');
                }
            })
        }
    </script>
{% endblock %}