{% extends "sub/main_column.html" %}
{% load staticfiles %}
{% block title %} Términos y Condiciones {% endblock %}
{% block left_column_content %}
    {% if user.is_authenticated %}
        {% if not user.empresa %}
            {% include "sub/left-panel-user-profile.html" %}
        {% else %}
            {% include "sub/left-panel-company-menu.html" %}
        {% endif %}
    {% else %}
        {% include "sub/left-panel-company-login.html" %}
    {% endif %}
{% endblock %}

{% block right_column_content %}
    <h2>Términos y Condiciones de Uso</h2>
    <div class="revista">
    <p>El uso de los servicios de Oferta de Trabajo está sujeto a las siguientes Políticas de Uso Aceptable:</p>
    <ol>
        <li>Las siguientes especificaciones reglamentan la utilización de los servicios que proporciona el
            sitio de Bolsa de Trabajo del Departamento de Ciencias de la Computación (en adelante DCC)
            a los buscadores de empleo o candidatos, empleadores, empresas y toda persona en general
            (en adelante usuarios); dichos servicios son gratuitos y están sujetos a la aceptación de los
            términos y las condiciones de uso que aquí se presentan. Todo usuario que hace uso de los
            servicios del sitio de una forma voluntaria y consciente, deberá sujetarse a las condiciones
            actuales y a las que pudieran darse más adelante, sin previo aviso. Así, también, el usuario
            tiene derecho a no aceptar los términos y las condiciones de uso del portal y no acceder a los
            servicios que este proporciona. y los servicios que el portal proporciona.</li>
        <li>El DCC no es responsable de la información que se registre en la Bolsa de Trabajo por parte
            de terceros, ni del perjuicio que ello origine; ni de la veracidad de la información publicada de
            las ofertas de empleo, así como de los resultados finales del contacto y los procesos
            resultantes que se deriven entre empleadores y candidatos.</li>
        <li>El DCC no es responsable de la información que se muestra en otros sitios web a los que el
            usuario tiene acceso desde el sitio. Con el objeto de facilitarle la navegación y ampliar la
            información ofrecida en el sitio, se establecen enlaces a otras páginas web, por lo que es
            recomendable examinar las condiciones de uso de éstas para determinar si las acepta o no.</li>
        <li>El DCC se reserva el derecho de suspender el servicio a todos aquellos usuarios que no
            cumplan con los presentes Términos y Condiciones de Uso.</li>
        <li>El sitio Bolsa de Trabajo se reserva el derecho de añadir, modificar y actualizar, cualquier
            contenido de configuración o de diseño, cualquier servicio y los presentes Términos y
            Condiciones de Uso, en cualquier momento y sin necesidad de previo aviso o notificación a los
            usuarios, entendiéndose que las mismas son aceptadas si el usuario utiliza los servicios que
            ofrece el sitio.</li>
        <li>Queda absolutamente prohibida la utilización de las imágenes, gráficos, contenidos, logotipos
            y formatos de registro que utiliza el sitio de Bolsa de Trabajo, salvo que el DCC lo autorice en
            forma explícita y por escrito.</li>
        <li>El sitio de Bolsa de Trabajo no se responsabiliza de la inactividad del sitio web, como
            consecuencia de causas ajenas a él, como cortes de energía eléctrica, avería en el hosting,
            averías o cortes en las redes de comunicación, y en general, por cualquier avería o fallo en
            nuestro sistema informático, ajenos a nuestra voluntad, comprometiéndonos a hacer todo lo
            que sea posible para restablecer el servicio en el mínimo de tiempo.</li>
        <li>El usuario deberá comunicar al DCC cualquier anomalía que observe.</li>
        <li>Si algún usuario del sitio Bolsa de Trabajo detecta que alguna de las ofertas consultadas no
            cumple con los presentes Términos y Condiciones de Uso, puede dar aviso al DCC,
            proporcionando el nombre de la empresa y las ofertas de empleo que no cumplen con lo
            estipulado.</li>
        <li>No es responsabilidad del DCC cualquier conflicto laboral, personal, legal o de cualquier otra
            índole que pudiera generarse entre el usuario y las empresas.</li>
        <li>Es compromiso de las empresas garantizar, en todo lo posible, la veracidad y autenticidad de
            sus datos personales y perfil laboral que ingresen al sitio Bolsa de Trabajo.</li>
    </ol>

</div>
{% endblock %}