{% extends "sub/main_one_column.html" %}
{% load staticfiles %}
{% block title %}
    Cuenta pendiente
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="frame">
                <div class="title text-center">Solicitud de registro enviada</div>
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <p>
                            Debes esperar a que tu cuenta sea activada antes de poder ingresar con ella.
                            Serás redireccionado en <span id="time">5</span> segundos...
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
        var i = 5;
        function theFinalCoutdown() {
            i--;
            if (i >= 0) $('#time').text(i);
            else window.location = "{% url "home" %}";
        }
        setInterval(function() {
            theFinalCoutdown();
        }, 1000);
        </script>
{% endblock %}
