<div>
    {# new valoration #}
    <div class="frame frame-light">
        <div>
            <div>
                <div class="visible-md-inline-block visible-lg-inline-block visible-xs-inline-block visible-sm-inline-block">
                    Valorando como <span class="text-highlight text-capitalize">Juan José Pérez Gonzales</span>
                </div>
                <div class="badge pull-right" title="5.0">
                    <div class="text-big">
                        <span>5.0</span>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    </div>
                </div>
            </div>

        </div>
        <textarea class="form-control" rows="3"></textarea>
        <div class="row">
            <div class="col-xs-12 col-md-12 text-right">
                <button class="m-btn-medium m-btn-darkcyan" type="submit">Enviar</button>
            </div>
        </div>
    </div>
    {# previous valorations #}
    <div class="frame frame-light">
        <div>
            <div>
                <div class="inline-block">
                    <div class="badge">
                        Valoración por <span class="text-capitalize">Jorge José Pérez Gonzales</span>
                    </div>
                    <div class="badge badge-orange">
                        03 de Abril del 2016
                    </div>
                </div>
                <div class="badge pull-right" title="3.0">
                    <div class="">
                        3.0
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                    </div>
                </div>
            </div>

        </div>
        <div>
            Lorem ipsum dolor sit amet, porttitor metus scelerisque, nullam hymenaeos, justo in lobortis. Consectetur proin, placerat scelerisque. Pellentesque tincidunt convallis, quis ornare, at dolor. Aenean ultrices, blandit mattis, amet ut nec. Mattis aliquam. At in. Morbi ac orci, sit semper. Lacinia arcu.
        </div>
    </div>
</div>