<div class="frame text-center">
    <div class="text-center text-capitalize text-big">Filtro de Ofertas</div>
    <form class="text-left filter-panel" action="{% url "filtros" %}" method="GET" role="form">
        {% csrf_token %}
        <div class="form-group">
            <label>Sueldo mínimo <span class="text-highlight" id="min-price-label">{% if min_salary %}{{ min_salary }}{% else %}0{% endif %}</span></label>
            <div class="price-filter">
                <div class="price-range-holder">
                    <input type="text" class="price-slider" value="{% if min_salary %}{{ min_salary }}{% else %}0{% endif %}">
                    <input type="hidden" id="min-price" name="salary" value="{% if min_salary %}{{ min_salary }}{% else %}0{% endif %}" />
                </div>
            </div><!-- /.price-filter -->
        </div>
        {% for tipo_etiqueta in tipos_etiquetas %}
            <div class="form-group">
                <label class="control-label text-capitalize">{{ tipo_etiqueta.tipo }}</label>
                <div>
                    {% for etiqueta in tipo_etiqueta.etiquetas %}
                        <label class="checkbox text-capitalize">
                            <input type="checkbox"
                                   name="filters"
                                   value="{{ etiqueta.id }}"
                                   {% if etiqueta.id in filters %}checked{% endif %}>{{ etiqueta }}
                        </label>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        <button type="submit" class="m-btn-medium m-btn-darkcyan">Filtrar</button>
    </form>
</div>