<div class="frame text-center">
    <div class="text-center text-capitalize text-big"><span class="text-highlight text-capitalize">{{ user }}</span></div>
    <div>
        <a href="{% url 'formulario' %}"><button type="button" class="m-btn-full m-btn-darkcyan">Publicar</button></a></br>
        <a href="{% url 'suscription' %}"><button type="button" class="m-btn-full m-btn-darkgreen">Suscripciones</button></a></br>
        <a href="{% url 'mis_marcadores' %}"><button type="button" class="m-btn-full m-btn-darkred">Marcadores</button></a>
        {% if 'administrador' in roles %}
            <a href="{% url 'permisos' %}"><button type="button" class="m-btn-full m-btn-cyan">Permisos</button></a>
        {% endif %}
        {% if 'moderador' in roles %}
            <a href="{% url 'moderar-cometarios' %}"><button type="button" class="m-btn-full m-btn-blue">Moderación</button></a>
        {% endif %}
    </div>
    <div class="text-center">
        <span><a href="{% url "logout" %}" id="logout">Cerrar Sesión</a></span>
    </div>
</div>
