<div class="frame text-center">
    <div class="text-center text-capitalize">Su Empresa: <span class="text-highlight text-capitalize text-big">BehaviourCL</span></div>
    <div>
        <a href="{% url 'formulario' %}"><button type="button" class="m-btn-medium m-btn-darkcyan">Publicar</button></a>
        <a href="{% url 'suscription' %}"><button type="button" class="m-btn-medium m-btn-cyan">Perfil</button></a>
    </div>
    <div class="text-right">
        <span><a href="#">Cerrar Sessión</a></span>
    </div>
</div>