{% extends "sub/main.html" %}
{% load staticfiles %}

{% block content %}
    <div class="background height100">
            <div class="height100"></div>
    </div>
    <div class="col-md-3 col-xs-12 column-left">
        <div>
            <a href="{% url "home" %}"><div class="logo"></div></a>
        </div>
        <hr>
        <div>
            {% block left_column_content %}
            {% endblock %}
            <br>
        </div>
    </div>
    <div class="col-md-9 col-xs-12 column-right">
        {% block right_column_content %}
        
        {% endblock %}
    </div>
{% endblock %}