{% extends "sub/main.html" %}
{% load staticfiles %}

{% block content %}
    <div class="background height100">
            <div class="height100"></div>
    </div>
    <div class="col-md-4 column-left">
        <div>
            <div class="logo"></div>
        </div>
        <hr>
        <div>
            {% block left_column_content %}
            {% endblock %}
        </div>
    </div>
    <div class="col-md-8 column-right">
        {% block right_column_content %}
        
        {% endblock %}
    </div>
{% endblock %}