<nav class="navbar navbar-default navbar-static" id="navbar">
    <div class="container-fluid">
        <div class="collapse navbar-collapse collapse-nav">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'home' %}" class="text-uppercase text-highlight hidden-xs">Bolsa de Trabajo</a></li>
                <li><a href="{% url 'home' %}">Inicio</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url "logout" %}">Cerrar sessión</a></li>
            </ul>
        </div>
    </div>
</nav>