<div>
    {# new valoration #}
    {% if not user_already_comment %}
    <div class="frame frame-light">
        <form role="form" action="{% url "comentar_oferta" %}" method="POST">
            {% csrf_token %}
            <div>
                <div>
                    <div class="visible-md-inline-block visible-lg-inline-block visible-xs-inline-block visible-sm-inline-block">
                        Valorando como <span class="text-highlight text-capitalize">{{ user }}</span><br>
                        <div class="checkbox">
                              <label>
                                  {% if form.is_important.errors %}
                                  <ul>
                                      {% for error in form.is_important.errors %}
                                          <label for="is_important" class="error">{{ error|escape }}</label>
                                      {% endfor %}
                                  </ul>
                                  {% endif %}
                                  <label class="sr-only" for="is_important">
                                      Importancia
                                  </label>
                                  <input name="is_important" id="is_important" type="checkbox" value=on>
                                  He trabajado aquí
                              </label>
                        </div>
                    </div>
                    <div class="pull-right">
                        {% if form.valoration.errors %}
                            <ul>
                            {% for error in form.valoration.errors %}
                              <label for="valoration" class="error">{{ error|escape }}</label>
                            {% endfor %}
                            </ul>
                        {% endif %}
                        <label class="sr-only" for="valoration">
                            Valoración
                        </label>
                        <input required id="valoration" type="number" class="rating" name="valoration" min="0" max="5" data-show-clear="false" data-show-caption="false" data-step="1" data-size="xs" >
                        <input name="offer_id" type="hidden" value="{{ oferta.id }}">
                    </div>
                </div>
            </div>
            {% if form.comment.errors %}
                <ul>
                {% for error in form.comment.errors %}
                  <label for="comment" class="error">{{ error|escape }}</label>
                {% endfor %}
                </ul>
                <label class="sr-only" for="comment">
                    Comentario
                </label>
            {% endif %}
            <textarea name="comment" class="form-control" rows="3"></textarea>
            <div class="row">
                <div class="col-xs-12 col-md-12 text-right">
                    <button id="comment_button" class="m-btn-medium m-btn-darkcyan" type="submit">Valora primero!!!</button>
                </div>
            </div>
        </form>
    </div>
    {% endif %}
    {# previous valorations #}
    <div class="frame frame-light">
        <div>
            <div>
                <div class="inline-block">
                    <div class="badge">
                        Valoración por <span class="text-capitalize">Jorge José Pérez Gonzales</span>
                    </div>
                    <div class="badge badge-orange">
                        03 de Abril del 2016
                    </div>
                </div>
                <div class="text-big pull-right">
                    <div class="badge">
                        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                    </div>
                </div>
            </div>

        </div>
        <div>
            Lorem ipsum dolor sit amet, porttitor metus scelerisque, nullam hymenaeos, justo in lobortis. Consectetur proin, placerat scelerisque. Pellentesque tincidunt convallis, quis ornare, at dolor. Aenean ultrices, blandit mattis, amet ut nec. Mattis aliquam. At in. Morbi ac orci, sit semper. Lacinia arcu.
        </div>
        <div class="text-danger text-uppercase text-right"><b>reportar</b></div>
    </div>
    <div class="frame frame-light">
        <div>
            <div>
                <div class="inline-block">
                    <div class="badge">
                        Valoración por <span class="text-capitalize">Javier Juan Peralta Godoy</span>
                    </div>
                    <div class="badge badge-orange">
                        01 de Abril del 2016
                    </div>
                </div>
                <div class="text-big pull-right">
                    <div class="badge badge-red">
                        <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                    </div>
                </div>
            </div>

        </div>
        <div>
            Lorem ipsum dolor sit amet, porttitor metus scelerisque, nullam hymenaeos, justo in lobortis. Consectetur proin, placerat scelerisque. Pellentesque tincidunt convallis, quis ornare, at dolor. Aenean ultrices, blandit mattis, amet ut nec. Mattis aliquam. At in. Morbi ac orci, sit semper. Lacinia arcu.
        </div>
        <div class="text-danger text-uppercase text-right"><b>reportar</b></div>
    </div>
</div>
