{% load staticfiles %}
<div class="row">
							<div class="col-md-3 text-center">
                                <div class="text-capitalize text-big row">Nombre Empresa</div>
								<img class="company-logo" src="{% static "resources/company/logo-company.png" %}">
							</div>
							<div class="col-md-9">
								<div>
									<a href="javascript:void(0)" class="text-highlight text-big text-capitalize">Oferta de Empleo Desarrollador Django</a>
								</div>
								<div>
									<div class="badge">
                                        <div>Sueldo</div>
                                        <div class="text-big text-uppercase">$330.000</div>
                                    </div>
                                    <div class="badge">
                                        <div>Jornada</div>
                                        <div class="text-big text-uppercase">part-time</div>
                                    </div>
                                    <div class="badge">
                                        <div>Aprobada</div>
                                        <span class="glyphicon glyphicon-ok-sign text-big" aria-hidden="true"></span>
                                    </div>
                                    <div class="badge">
                                        <div>+24</div>
                                        <span class="glyphicon glyphicon-thumbs-up text-big" aria-hidden="true"></span>
                                    </div>
                                    <div class="badge badge-red">
                                        <div>-6</div>
                                        <span class="glyphicon glyphicon-thumbs-down text-big" aria-hidden="true"></span>
                                    </div>
								</div>
                                <div>
                                    <span>
                                        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                                        example@company.com
                                    </span>
                                    <span>
                                        <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>
                                        2 111 1111
                                    </span>
                                </div>
                                <div>
                                    <span class="label label-info">Tag 1</span>
                                    <span class="label label-info">Tag 2</span>
                                    <span class="label label-info">Tag 3</span>
                                    <span class="text-uppercase text-highlight pull-right">hoy</span>
                                </div>
							</div>
						</div>