{% load staticfiles %}
<div class="row">
							<div class="col-md-3 text-center">
                                <div class="text-capitalize text-big row">Nombre Empresa</div>
								<img class="company-logo" src="{% static "resources/company/logo-company.png" %}">
							</div>
							<div class="col-md-9">
								<div>
									<a href="javascript:void(0)" class="text-highlight text-big text-capitalize">Oferta de Empleo Desarrollador Django</a>
								</div>
								<div>
									<div class="badge">
                                        <div>Sueldo</div>
                                        <div class="text-big text-uppercase">sin determinar</div>
                                    </div>
                                    <div class="badge">
                                        <div>Jornada</div>
                                        <div class="text-big text-uppercase">part-time</div>
                                    </div>
                                    <div class="badge badge-orange">
                                        <div>Por aprobar</div>
                                        <span class="glyphicon glyphicon-question-sign text-big" aria-hidden="true"></span>
                                    </div>
                                    <div class="badge" title="3.0">
                                        <div>Valoración</div>
                                        <div class="text-big">
                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                        </div>
                                    </div>
								</div>
                                <div>
                                    <span>
                                        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                                        example@company.com
                                    </span>
                                    <span>
                                        <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>
                                        2 111 1111
                                    </span>
                                </div>
                                <div>
                                    <span class="label label-info">Tag 1</span>
                                    <span class="label label-info">Tag 2</span>
                                    <span class="label label-info">Tag 3</span>
                                    <span class="text-uppercase text-highlight pull-right">hace 1 mes</span>
                                </div>
							</div>
						</div>