{% load staticfiles %}
<div class="row">
    <div class="col-md-3 text-center">
        <img class="company-logo-small" src="{% static "resources/company/logo-company.png" %}">
    </div>
    <div class="col-md-9">
        <div>
            <a href="javascript:void(0)" class="text-highlight text-big text-capitalize">Oferta de Empleo Desarrollador Django</a>
        </div>
        <div class="text-capitalize text-big">Nombre Empresa</div>
    </div>
    <div class="col-md-12 col-xs-12">
        {# Interesst profile #}
        <p>Lorem ipsum dolor sit amet, porttitor metus scelerisque, nullam hymenaeos, justo in lobortis. Consectetur proin, placerat scelerisque. Pellentesque tincidunt convallis, quis ornare, at dolor. Aenean ultrices, blandit mattis, amet ut nec. Mattis aliquam. At in. Morbi ac orci, sit semper. Lacinia arcu.</p>
        <dl class="dl-horizontal">
            <dt>Oferta</dt>
            <dd>Práctica</dd>
            <dt>Jornada</dt>
            <dd>Full-time</dd>
            <dt>Experiencia previa</dt>
            <dd>No requiere</dd>
            <dt>Habilidades deseadas</dt>
            <dd>Conocimiento desarrollo Web, Framework MVC, Web Scraping</dd>
            <dt>Habilidades requeridas</dt>
            <dd>Python, Javascript</dd>
            <dt>Se ofrece</dt>
            <dd>--</dd>
            <dt>Duración mínima</dt>
            <dd>2 meses</dd>
            <dt>Validez</dt>
            <dd>Desde <b>04/Diciembre/2016</b> hasta <b>28/Julio/2017</b></dd>
            <dt>Comentario duración</dt>
            <dd>Un mínimo de 2 meses y 5 como máximo</dd>
            <dt>Comentario jornada</dt>
            <dd>Viernes 8 horas con horario de entrada y salida flexible</dd>
            <dt>Tipo de remuneración</dt>
            <dd>Mensual</dd>
            <dt>Sueldo mínimo</dt>
            <dd>$330.000</dd>
            <dt>Comentarios remuneración</dt>
            <dd>Sueldo variable según experiencia demostrable</dd>
            <dt>Encargado</dt>
            <dd>Julian Juan Julio Jorquera Jimenez</dd>
            <dt>Correo electrónico</dt>
            <dd>example@example.cl</dd>
            <dt>Teléfono</dt>
            <dd>02 1234123</dd>
            <dt>Región</dt>
            <dd>Metropolitana</dd>
            <dt>Comuna</dt>
            <dd>Ñuñoa</dd>
            <dt>Dirección</dt>
            <dd>Calle 123</dd>
            <dt>Fecha de recepción</dt>
            <dd>01/01/2016</dd>
        </dl>
    </div>
    <div class="col-xs-12 col-xs-12 text-center">
        <button type="button" class="m-btn m-btn-cyan" >Publicar</button>
        <button type="button" class="m-btn m-btn-darkred">Rechazar</button>
    </div>
</div>